.api-addition {
	background-color: #eaffe6;
	padding: 0.5rem 1rem;
	display: flex;
	align-content: center;
	align-items: center;
	vertical-align: middle;
	font-weight: bold;
	border-left: 4px solid green;
	border-radius: 3px;
}

.api-addition::before {
	flex: 0 0;
	content: "+";
	color: green;
	font-size: 2em;
	padding-right: 1rem;
	line-height: 1;
}