.api-addition {
	display: flex;
	align-content: center;
	align-items: center;
	vertical-align: middle;

	padding: 0.4rem 0.6rem 0.4rem 0.5rem;
	background-color: #efffec;
	border-left: 0.2rem solid green;
	border-radius: 0.1rem;

	line-height: 1;
	font-size: 0.64rem;
	font-weight: bold;

	box-shadow:
		0 2px 2px 0 rgba(0,0,0,.14),
		0 1px 5px 0 rgba(0,0,0,.12),
		0 3px 1px -2px rgba(0,0,0,.2);
}

.api-addition::before {
	flex: 0 0 1.5rem;
	content: "+";
	color: green;
	font-size: 1.5em;
	text-align: center;
}